#contact{
    width: 100%;
    height: 100vh;
    background-color: #264653
    
    
}
 .text-center{
    font-family: 'Poppins', sans-serif ;
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
    color: #fefae0;
    text-transform:uppercase;
   
}

form{
   align-items: center;
    padding:15px;
    padding-left: 90px;
    padding-right: 90px;
}
label{
    font-family: 'Poppins', sans-serif ;
    font-size: 15px;
    color: cornsilk;
}
button{
    margin-top: 10px;
   
}
textarea{
    height: 100px;
}
@media screen and (max-width:600px) {
    form{
        align-items: center;
         padding:15px;
        
     }
     .card{
         margin-top: 10vh;
         width: 100%;
         height: 80vh;
         font-size: 14px !important;
         font-weight: 500;
     }
     .card button{
         margin-left: 25% !important;
     }
     .text-center{
        margin-left: 5%;
        font-size: 14px;
        margin-top: 40px;
    }
   .card h2{
       margin-top: 40% !important;
   }
}